#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-box {
  width: 200px;
  height: auto;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  backdrop-filter: blur(20px);
  /* background-color: rgb(79, 35, 160); */
  border-radius: 20px;
  padding: 6px;
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 4px;
  margin: 4px;
  border-radius: 6px;
}
